/*Kit police RALEWAY*/

/* @font-face {
    font-family: 'ralewayregular';
    src: url('font_raleway/raleway-regular.eot');
    src: url('font_raleway/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('font_raleway/raleway-regular.woff') format('woff'),
         url('font_raleway/raleway-regular.ttf') format('truetype'),
         url('font_raleway/raleway-regular.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
} */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

/* #bloc_page
{
    margin: 0;
	font-family: ralewayregular, sans-serif;
    
} */
*
{
    font-family: Raleway, sans-serif;
}
/*Logo Reservia/ Nav*/

.header
{
	display: grid;
	grid-template-columns: 1fr 650px 1fr 1fr 1fr;
	align-items: center;
}

.logo
{
    width: 95px;
    padding-top: 22px;
    margin-left: 50px;
}

.heb
{
    grid-column: 3;
    text-align: center;
    color: #0065FC;
    padding-top: 2em;
    margin-bottom: 2em;
    border-top: 2px solid #0065FC;
}

.activ
{
    grid-column: 4;
    text-align: center;
}

.enreg
{
    margin-left: 0;
    grid-column: 5;
    text-decoration: none;
    text-align: center;
    color: #0065FC;
}

.z
{
    color: black;
    text-decoration: none;
    padding-top: 2em;
    margin-bottom: 2em;
}

.z:hover
{
    padding-top: 2em;
    margin-bottom: 2em;
    border-top: 2px solid #0065FC;
    color: #0065FC;
    cursor: pointer;
}

.z:focus
{
    padding-top: 2em;
    margin-bottom: 2em;
    border-top: 2px solid #0065FC;
    color: #0065FC;
    cursor: pointer;
}

a
{
    text-decoration: none;
    color: black;
}

/* SECTION IN*/

.in
{
    margin-left: 50px;
}

/* .presentation h2
{
    margin-bottom: 16px;
} */

.form
{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.mm
{
    display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 51px;
	background-color: #f2f2f2;
	border-radius: 1em 0 0 1em;
}

.fa-map-marker-alt
{
    width: 12px;
	height: 15px
}

#seat
{
    width: 218px;
	height: 45px;
	font-size: 1em;
	font-weight: bold;
	border: 2px solid #f2f2f2;
	border-right: none;
	border-left: none;
	padding-left: 1em;
}

#rec
{
    width: 120px;
	height: 50px;
	font-size: 15px;
	color: white;
	font-weight: bold;
	background-color: #0065fc;
	border:none;
	border-radius: 0 1em 1em 0;
	cursor: not-allowed;
}

/* FILTRES */
#boxfiltres
{
    display: flex;
	flex-direction: row;
	margin-left: 1em;
}

.boxfiltres
{
    display: flex;
	flex-direction: row;
	align-items: center;
	border:2px solid #f2f2f2;
	border-radius:2em;
	margin-right: 1.5em;
	height: 46px;
}

.boxfiltres:hover
{
    background-color: #ffffff;
	border: 2px groove #0e0e44;
	cursor: not-allowed;
}

.boxfiltres a
{
    font-weight: bold;
	height: 46px;
	align-items: center;
	padding: 0 22px 0 13px;
}

.fil
{
    border-radius: 100%;
	background-color: #dceaff;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-money-bill-wave
{
	color: #0065fc;
}

.fa-child
{
	color: #0065fc;
}

.fa-heart
{
	color: #0065fc;
}

.fa-dog
{
    color: #0065fc;
}

.pointinformation
{
    display: flex;
	flex-direction: row;
	align-items: center;
	margin: 19px 0 25px 0;
}

.iconeinformation
{
    display: flex;
	border-radius: 100%;
	border: 1px solid #f2f2f2 ;
	width: 23px;
	height: 23px;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

#info
{
    color: #0065fc;
	font-size: 0.8em;
}

