@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
* 
{
	font-family: Raleway, sans-serif;
}

body
{
	margin: 0;
}

/* LOGO RESERVIA/ NAV */

header
{
	margin-left: 50px;
	display: grid;
	grid-template-columns: 1fr 650px 1fr 1fr 1fr;
	align-items: center;
}

.logo
{
	width: 95px;
	padding-top: 22px;
}

.z.heb
{
	grid-column: 3;
	text-align: center;
	color: #0065fc;
	padding-top: 2em;
	margin-bottom: 2em;
	border-top: 2px solid #0065fc;
}

.z.activ
{
	grid-column: 4;
	text-align: center;
}

.enreg
{
	margin-left:0;
	grid-column: 5;
	text-decoration: none;
	text-align: center;
	color: #0065fc;
}

.z
{
	color: black;
	text-decoration: none;
	padding-top: 2em;
	margin-bottom: 2em;
}

.z:focus
{
	padding-top: 2em;
	margin-bottom: 2em;
	border-top: 2px solid #0065fc;
	color: #0065fc;
	cursor: pointer;
}

.z:hover
{
	padding-top: 2em;
	margin-bottom: 2em;
	border-top: 2px solid #0065fc;
	color: #0065fc;
	cursor: pointer;
}

a
{
    text-decoration: none;
    color: black;
}

/* RECHERCHE */

.in
{
    margin-left: 50px;
}

.presentation h2
{
    margin-bottom: 16px;
}

form
{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.mm
{
    display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 51px;
	background-color: #f2f2f2;
	border-radius: 1em 0 0 1em;
}

.fa-map-marker-alt
{
    width: 12px;
	height: 15px
}

#seat
{
    width: 218px;
	height: 45px;
	font-size: 1em;
	font-weight: bold;
	border: 2px solid #f2f2f2;
	border-right: none;
	border-left: none;
	padding-left: 1em;
}

#rec
{
    width: 120px;
	height: 50px;
	font-size: 15px;
	color: white;
	font-weight: bold;
	background-color: #0065fc;
	border:none;
	border-radius: 0 1em 1em 0;
	cursor: not-allowed;
}

/* FILTRES */

.filtres
{
    display: flex;
	flex-direction: row;
	align-items: center;
}

.boxfiltres
{
    display: flex;
	flex-direction: row;
	align-items: center;
	border:2px solid #f2f2f2;
	border-radius:2em;
	margin-right: 1.5em;
	height: 46px;
}

.boxfiltres:hover
{
    background-color: #ffffff;
	border: 2px groove #0e0e44;
	cursor: not-allowed;
}

.boxfiltres a
{
    font-weight: bold;
	height: 46px;
	align-items: center;
	padding: 0 22px 0 13px;
}

.fil
{
    border-radius: 100%;
	background-color: #dceaff;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fa-money-bill-wave
{
	color: #0065fc;
}

.fa-child
{
	color: #0065fc;
}

.fa-heart
{
	color: #0065fc;
}

.fa-dog
{
    color: #0065fc;
}

#boxfiltres
{
	display: flex;
	flex-direction: row;
	margin-left: 1em;
}

/* POINT INFORMATION */

.pointinformation
{
    display: flex;
	flex-direction: row;
	align-items: center;
	margin: 19px 0 25px 0;
}

.iconeinformation
{
    display: flex;
	border-radius: 100%;
	border: 1px solid #f2f2f2 ;
	width: 23px;
	height: 23px;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
}

#info
{
    color: #0065fc;
	font-size: 0.8em;
}

/* CORPS DE LA PAGE */
/* HEBERGEMENTS À MARSEILLE */

.hebergements
{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.ma
{
	width: 780px;
	background-color: #f2f2f2;
	border-radius: 1em;
	margin-left: 50px;
	padding: 25px 40px 0 40px;
}

.boximages
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hebergementsnumber
{
	height: 200px;
	width: 246px;
	background-color: white;
	border-radius: 1em;
	margin-bottom: 2em;
	box-shadow:5px 5px 16px #e4e4e4;
}

.pic
{
	height: 114px;
	width: 236px;
	border-radius: 1em 1em 0 0;
	margin: 5px;
	object-fit: cover;
}

.hod h3
{
	margin: 3px 0 0 11px;
}

.hod p
{
	margin: 0.25em 0 4px 11px;
}

.hod div
{
	margin:0 0 0px 11px;
}

.fa-star
{
	font-size: 12px;
	color: #0065fc;
}

.gray
{
	color: #d9d9d9;
}

/* FOOTER HEBERGEMENTS */

.plus
{
	font-weight: bold;
	font-size: 1em;
}

/* LES PLUS POPULAIRES */

aside
{
	width: 340px;
	background-color: #f2f2f2;
	border-radius: 1em;
	margin-right: 50px;
	padding: 25px 40px 0 40px;
}

.headerpopulaires
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#fleche
{
	font-size: 1.5em;
}

.boxpopulaires
{
	height: 144px;
	width: 343px;
	background-color: white;
	border-radius: 1em;
	margin-bottom: 2em;
	box-shadow:5px 5px 16px #e4e4e4;
}

.boxypictures
{
	height: 134px;
	width: 127px;
	border-radius: 1em 0 0 1em;
	object-fit: cover;
	float: left;
	margin: 5px;
}

.boxytext h3
{
	margin: 9px 0 0 148px;
}

.boxytext p
{
	margin: 0.3em 0 41px 148px; 
}

.stars
{
	margin: 0 0 0 148px;
}

/* ACTIVITES À MARSEILLE */

.activites
{
	margin:0 50px 0 50px;
}

.boxport
{
	margin-right: 5px;
}

.boxactivites
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* VIEUX PORT & PARC NATIONAL DES CALANQUES */

.boxportpictures
{
	width: 302px;
	height: 445px;
	box-shadow:5px 5px 16px #e4e4e4;
	border-radius: 1em;
	margin: 0em;
}

.boxportpictures img
{
	width: 302px;
	height: 390px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}

/* FORT DE POMÈGUES */

.boxpomeguespictures
{
	width: 302px;
	height: 236px;
	box-shadow:5px 5px 16px #e4e4e4;
	border-radius: 1em;
	margin:0 0 2.75em 0;
}

.boxpomeguespictures img
{
	width: 302px;
	height: 180px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}

/* ILES DU FRIOUL */

.boxfrioulpictures
{
	width: 302px;
	height: 165px;
	box-shadow:5px 5px 16px #e4e4e4;
	border-radius: 1em;
	margin:0 0 3em 0;
}
.boxfrioulpictures img{
	width: 302px;
	height: 109px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}

/* NOTRE DAME DE LA GARDE */

.boxgardepictures
{
	width: 302px;
	height: 195px;
	box-shadow:5px 5px 16px #e4e4e4;
	border-radius: 1em;
	margin:0 0 2.5em 0;
}

.boxgardepictures img
{
	width: 302px;
	height: 140px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}

/* PARC LONGCHAMPS */

.boxlongchampspictures
{
	width: 302px;
	height: 210px;
	box-shadow:5px 5px 16px #E4E4E4;
	border-radius: 1em;
	margin:0 0 3em 0;
}

.boxlongchampspictures img
{
	width: 302px;
	height: 153px;
	object-fit: cover;
	border-radius: 1em 1em 0 0;
}

figcaption
{
	font-weight: bold;
	margin: 1em 0 1em 1em;
}

/* FOOTER */

footer
{
	background-color: #f2f2f2;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	height: 218px;
}

footer h3
{
	margin-bottom: 17px;
}

footer div
{
	display: flex;
	flex-direction: column;
	margin:24px 175px 0 50px;
}

footer a
{
	margin-bottom: 19px;
}